.overflow1 {
    width: 200px;
    height: 200px;
    overflow: auto;
    background-color: aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-decoration: line-through;
    text-transform: capitalize;
}