* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5em;
    color: #444;
}

header {
    background-color: #ccc;
    background-image: url(img/pexels.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
}

header h1 {
    font-size: 4vmax;
    text-shadow: 10px 10px 5px rgba(122, 79, 12, 0.8);
    color: white;
    text-align: center;
    margin: auto;
    line-height: 1.2em;
    padding: 0.5em 0;
}

section {
    width: 80vw;
    margin: 0 auto;
}

.detail {
    text-align: center;
    font-size: 1.3rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.5em 0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

section p {
    text-indent: 2em;
    margin-bottom: 1.5em;
}