html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* STYLE */

body {
    background-image: url(../img/bg2.png);
    font: 16px/25px arial, sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
}

.container .header {
    padding: 20px;
}

.container .judul {
    font-size: 35px;
    font-weight: bold;
}

.container .menu li {
    display: inline-block;
    margin-top: 15px;
    margin-right: 7px;
}

.container .menu a {
    text-decoration: none;
    color: coral;
}

.container .menu a:hover {
    font-size: 18px;
    color: crimson;
}

.container .hero {
    background-image: url(../img/hero.jpg);
    width: 800px;
    height: 350px;
    background-size: cover;
    background-position: -10px -30px;
    margin-top: -10px;
    border-top: 3px solid lightskyblue;
    border-bottom: 3px solid greenyellow
}

.container .content {
    margin: 15px 20px;
}

.container .content .judul2 {
    font-size: 28px;
    font-weight: bold;
}

.content .penulis {
    font-size: 14px;
}

.content .penulis a {
    text-decoration: none;
    color: darkorange;
}

.content .penulis a:hover {
    font-size: 16px;
    color: green;
}

.content p {
    margin-bottom: 10px;
}

.container .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 13px;
}

.container .footer a {
    color: white;
    text-decoration: none;
}