* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/bg2.png);
    /* background: linear-gradient(to right, lightseagreen, purple, lightskyblue); */

}

.kotak {
    width: 150px;
    height: 150px;
    margin: 20px;
    float: left;
}

.kotak1 {
    border: 5px solid black;
    border-radius: 50%;
}

.kotak2 {
    border: 5px solid blue;
    border-top-left-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 50%;
}

.clear {
    clear: left;
}

/* End Border Radius */

.nol {
    width: 150px;
    height: 150px;
}

.satu {
    background-color: coral;
    opacity: 0.7;
    position: relative;
    margin: 20px;
}

.dua {
    background-color: blue;
    position: absolute;
    right: -100px;
    bottom: -100px;
    opacity: .7;
}

/* End Opacity */


.tiga {
    position: relative;
    margin: 150px 20px;
    background-color: rgba(255, 102, 0, .7);
}

.empat {
    position: absolute;
    right: -100px;
    bottom: -100px;
    background-color: blue;
}

.float-left {
    float: left;
}

.box1 {
    width: 150px;
    height: 150px;
    background-color: green;
    box-shadow: 0 15px 5px -5px black;
    margin: 20px;
    transition: .3s;
}

.box1:hover {
    width: 160px;
    height: 160px;
    background-color: blue;
    box-shadow: 0 25px 10px -10px black;
}

.box2 {
    width: 100px;
    height: 100px;
    margin: 30px;
    background-color: coral;
    box-shadow: 10px 10px 10px 20px black;
    transition: .3s;
    opacity: .7;
}

.box2:hover {
    box-shadow: -10px -10px 10px 20px black;
}

.text-shadow h1 {
    color: white;
    font-family: arial;
    font-style: italic;
    font-size: 100px;
    text-align: center;
    text-shadow: 5px 10px 5px black;
}

.box-linear {
    width: 600px;
    height: 300px;
    background-color: green;
    margin: 30px auto;
    background-image: linear-gradient(to right, blue 40%, red 90%);
}

.box-linear2 {
    width: 500px;
    height: 250px;
    margin: 30px auto;
    background-image: linear-gradient(45deg, red, blue, green)
}

.box-linear3 {
    width: 400px;
    height: 200px;
    margin: 30px auto;
    background: linear-gradient(to right, coral, black, yellow, purple);
}

.box-linear4 {
    width: 300px;
    height: 150px;
    margin: 30px auto;
    background: linear-gradient(to right, lightseagreen, lightskyblue, lightcoral);
}

.box-radial {
    width: 500px;
    height: 250px;
    margin: 30px auto;
    background: radial-gradient(circle farthest-corner at top right, red 50%, blue 90%);
}

.box-radial2 {
    width: 400px;
    height: 200px;
    margin: 30px auto;
    background: radial-gradient(circle closest-side at 30px 50px, yellow, blue)
}

.rubik-glitch {
    font-family: "Rubik Glitch", cursive;
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
    color: black;
    text-shadow: 0 10px 10px gold;
}

.quicksandbold {
    font-family: 'quicksandbold', arial;
    font-size: 28px;
    text-align: center;
    font-size: 50px;
}

.ambleregular {
    font-family: 'ambleregular', arial;
    font-size: 35px;
    text-align: center;
}

.vendor-prefix {
    text-align: center;
}

.vendor-prefix img {
    width: 200px;
    height: 200px;
    -webkit-filter: grayscale(100);
    filter: grayscale(100%);
}

.filter {
    text-align: center;
    margin-top: 20px;
}

.filter img {
    width: 200px;
    height: 200px;
    filter: blur(2px) grayscale(100%) drop-shadow(10px 10px 2px black);
    transition: 1s;
}

.filter img:hover {
    filter: blur(0) grayscale(0) drop-shadow(15px 15px 2px black);
}

.filter h1 {
    filter: drop-shadow(5px 5px 1px black);
    text-align: center;
    color: white;
    font-size: 50px;
    transition: 1s;
}

.filter h1:hover {
    font-size: 60px;
}

.transform {
    width: 250px;
    background-color: lightseagreen;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

.box-transform {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    box-sizing: border-box;
    margin: 5px 5px 0;
    box-sizing: border-box;
    transition: .5s;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 14px;
    float: left;
}

.box-t1 {
    background-color: coral;
}

.box-t2 {
    background-color: cadetblue;
}

.box-t3 {
    background-color: rgb(22, 89, 20);
}

.box-t4 {
    background-color: rgb(107, 131, 45);
}

.box-transform:hover {
    transform: scale(1.1) rotate(45deg) translate(30px);
    border: 3px solid white;
    font-size: 18px;
}

.transition .container {
    width: 900px;
    height: 500px;
    margin: 20px auto;
    border: 5px solid black;
}

.kotak-t {
    width: 70px;
    height: 70px;
    background-color: salmon;
    margin: 10px 0;
    text-align: center;
}

.transition .container:hover .kotak-t {
    transform: rotate(360deg);
    margin-left: 830px;
    background-color: blueviolet;
}

.box-transition1 {
    transition: ease 2s;
}

.box-transition2 {
    transition: ease-in 2s;
}

.box-transition3 {
    transition: ease-out 2s;
}

.box-transition4 {
    transition: ease 2s;
}

.box-transition5 {
    transition: linear 2s;
}

.box-transition6 {
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s;
}

.container2 {
    width: 900px;
    height: 80px;
    border: 5px solid black;
    margin: auto;
}

.container2:hover .box-transition7 {
    margin-left: 830px;
    background-color: cadetblue;
    transform: rotate(360deg);
}

.box-transition7 {
    transition: margin-left 3s 2s, transform 3s 5s, background-color 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 5s;
}

.animation .container {
    width: 900px;
    height: 500px;
    border: 5px solid black;
    margin: 10px auto;
}

.kotak-animasi {
    width: 70px;
    height: 70px;
    background-color: salmon;
    border: 3px solid black;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
    animation-name: kotakAnimasi;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: alternate;
}

@keyframes kotakAnimasi {
    0% {
        margin-left: 0px;
    }

    40% {
        margin-left: 800px;
    }

    60% {
        margin-left: 800px;
        margin-top: 300px;
    }

    80% {
        margin-left: 10px;
        margin-top: 400px;
    }

    100% {
        margin-left: 10px;
        margin-top: 10px;
    }
}