@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Sevillana&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #ddd;
    margin: 10px 50px;
    color: #333;
}

img {
    width: 100%;
}

.container {
    display: grid;
}

/* Navigasi */
.nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 5px;
}

.nav .logo {
    font-size: 1.1rem;
}

.nav ul {
    display: grid;
    font-size: 0.9rem;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    gap: 5px;
}

.nav ul a {
    text-decoration: none;
    color: white;
    background-color: black;
    display: block;
    text-align: center;
    padding: 5px;
}

.nav ul a:hover {
    color: #333;
}

.nav .hamburger-menu {
    display: none;
}

/* Hero */
.hero {
    display: grid;
    grid-template-areas:
        'hero hero item-1'
        'hero hero item-2';
    min-height: 400px;
}

.highlight {
    font-family: 'Sevillana', cursive;
    grid-area: hero;
    background-image: url(img/hero.jpg);
    padding: 50px;
    display: flex;
    color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
}

.highlight>* {
    background-color: rgba(255, 255, 255, 0.637);
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    display: none;
}

.highlight p.sub-heading {
    font-family: 'Merriweather', serif;
    font-size: 0.8rem;
}

.item-1 {
    grid-area: item-1;
    background-image: url(img/item1.jpg);
    background-size: cover;
    background-position: center;
}

.item-2 {
    grid-area: item-2;
    background-image: url(img/item2.jpg);
    background-size: cover;
    background-position: center;
}

.item-1,
.item-2 {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.t1,
.t2 {
    background-color: rgba(255, 255, 255, 0.637);
    padding: 5px 10px;
    margin-bottom: 5px;
}

/* Hamburger Menu */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    position: relative;
}

.hamburger-menu input {
    position: absolute;
    width: 26px;
    height: 26px;
    opacity: 0;
    top: -4px;
    left: 0;
    z-index: 10;
}

.hamburger-menu span {
    display: inline-block;
    width: 25px;
    height: 4px;
    background-color: rgb(73, 72, 72);
    margin-bottom: 3px;
    transition: .3s;
}

.hamburger-menu input:checked~span:nth-child(2) {
    transform: rotate(45deg) translateY(-1px);
    transform-origin: 10% 0%;
}

.hamburger-menu input:checked~span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.hamburger-menu input:checked~span:nth-child(3) {
    opacity: 0;
}

/* Features */
.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 10px;
}

.feature {
    background-color: #fff;
    display: grid;
    place-content: center;
    text-align: center;
    row-gap: 5px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.feature h3 {
    font-size: 1.5rem;
}

.feature p {
    font-size: 0.9rem;
}

.feature .icon {
    font-size: 2rem;
}

/* Gallery */
.gallery {
    margin-top: 50px;
}

.gallery h1 {
    text-align: center;
    font-size: 2rem;
}

.gallery ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

/* Responsive */
@media screen and (max-width: 1024px) {
    .nav {
        order: 2;
        grid-template-columns: 1fr;
        margin-top: 5px;
    }

    .nav .logo {
        display: none;
    }

    .hero {
        order: 1;
    }

    .highlight>* {
        display: flex;
    }

    .features {
        order: 100;
    }
}

@media screen and (max-width: 768px) {
    nav ul.menu {
        display: none;
    }

    .nav {
        order: 1;
        display: flex;
        justify-content: flex-end;
    }

    .nav .hamburger-menu {
        display: inherit;
    }

    .nav .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        position: fixed;
        background-color: rgba(0, 0, 0, .7);
        top: 0;
        right: 0;
        bottom: 0;
        transform: translateY(-100%);
        opacity: 0;
    }

    .nav .menu li a {
        margin-bottom: 20px;
        width: 100px;
        background-color: rgba(255, 255, 255, 0.637);
        color: #000;
        border-radius: 1px;
    }

    .nav ul a:hover {
        background-color: rgba(17, 17, 17, 0.637);
        color: white;
    }

    .hero {
        order: 2;
    }

    .nav .menu {
        transition: .5s;
    }

    .nav ul.slide {
        transform: translateY(0);
        opacity: 1;
    }

    .hamburger-menu input:checked~span {
        background-color: white;
    }

    .features {
        order: 100;
    }
}

@media screen and (max-width: 576px) {
    body {
        margin: 15px;
    }

    .hero {
        grid-template-areas:
            'hero'
            'item-1'
            'item-2';
    }

    .features {
        order: 100;
        grid-template-columns: 1fr;
    }
}