* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 1000px;
    margin: 30px auto;
    border: 5px solid black;
    padding: 5px;
}

.container {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .8);
    text-align: center;
}

header {
    background-color: purple;
    padding: 40px;
}

.content {
    display: flex;
}

.sidebar {
    flex-grow: 1;
}

.sidebar aside {
    background-color: lightskyblue;
    padding: 60px;
}

.sidebar nav {
    background-color: lightcoral;
    padding: 100px;
}

main {
    background: orange;
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: grey;
    padding: 20px;
}